name: validate all packages
on:
  push:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.5.3
        with:
          channel: stable
      - run: ./.github/workflows/scripts/install-tools.sh
      - name: override github url
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git config --global url."https://$GITHUB_TOKEN:@github.com/hisaichi5518/".insteadOf git@github.com:hisaichi5518/
      - run: flutter pub get
      - run: flutter analyze .

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.5.3
        with:
          channel: stable
      - run: ./.github/workflows/scripts/install-tools.sh
      - name: "Format"
        run: |
          dart format --set-exit-if-changed .

  test_on_linux:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.5.3
        with:
          channel: stable
      - run: ./.github/workflows/scripts/install-tools.sh
      - uses: stelynx/dart-full-coverage@v1.0.5
        with:
          package: linting
          ignore: "*.freezed.dart,*.g.dart"
      - run: dart pub global activate coverage
      - run: dart test --coverage="coverage"
      - run: format_coverage --lcov --in=coverage --out=coverage/coverage.lcov --packages=.packages --report-on=lib
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/coverage.lcov
          verbose: true
